<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>

<body>

<h2>Login</h2>

<form method="POST">

Email <br>
<input type="text" name="email"><br><br>

Password <br>
<input type="password" name="password"><br><br>

User Type <br>
<select name="type">
<option value="admin">Admin</option>
<option value="student">Student</option>
<option value="company">Company</option>
</select>

<br><br>

<button type="submit">Login</button>

</form>

<br>

<a href="/register">Student Register</a>

</body>
</html>